@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    void RenderIdentityNavLink(string href, string text, string icon)
    {
        <li class="nav-item px-3">
            <a class="nav-link text-center @(Context.Request.Path == href ? "active" : "")" href="@href">
                <svg class="bi" width="32" height="32" fill="currentColor">
                    <use xlink:href="/static/bootstrap-icons.svg#@icon" />
                </svg> <br /> @text
            </a>
        </li>
    }
}

@if (SignInManager.IsSignedIn(User))
{
    RenderIdentityNavLink("/Identity/Account/Manage", "Account", "person");
    <li class="nav-item px-3">
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link text-center">
                <svg class="bi" width="32" height="32" fill="currentColor">
                    <use xlink:href="/static/bootstrap-icons.svg#box-arrow-left" />
                </svg> <br /> Log out
            </button>
        </form>
    </li>
}
else
{
    RenderIdentityNavLink("/Identity/Account/Register", "Register", "pencil-square");
    RenderIdentityNavLink("/Identity/Account/Login", "Login", "box-arrow-in-right");
}
