@page "/about"

<h1>About RetroGG.net</h1>

<p>
    This is a site developed as a project by TruDev/Jesus Trujillo, for EVIT Coding Year 1 class.
    <br />
    For the rest of this page, just pretend this is real or whatever.
</p>

<h2>How it works</h2>

<p>
    RetroGG.net is a platform that buys and sells your retro and otherwise hard to find games.
    <br />
    Got a retro game and want to sell it? <a href="/quote">We'll give you a quote.</a>
    <br />
    Want to buy one of the games in our lineup? <a href="/store">Feel free to browse the store!</a>
</p>

<p>
    You don't even have to sign up to get a quote or browse our lineup!
    You only have to once you want to make a transaction.
</p>
