@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines
@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RetroGG.net</title>
    <link rel="stylesheet" href="/static/css/retrogg-bs/retrogg.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-primary mb-3">
            <div class="container-md">
                <a class="navbar-brand align-middle font-display" href="/"><img src="/static/img/logo.png" width="48" height="48" class="d-inline-block align-middle pe-1" />RetroGG.net</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar-content">
                    <ul class="navbar-nav flex-md-row list-group-horizontal-md">
                        <li class="nav-item px-3">
                            <a class="nav-link text-center" href="/">
                                <svg class="bi" width="32" height="32" fill="currentColor">
                                    <use xlink:href="/static/bootstrap-icons.svg#house" />
                                </svg> <br /> Home
                            </a>
                        </li>
                        <li class="nav-item px-3">
                            <a class="nav-link text-center" href="/about">
                                <svg class="bi" width="32" height="32" fill="currentColor">
                                    <use xlink:href="/static/bootstrap-icons.svg#info-circle" />
                                </svg> <br /> About
                            </a>
                        </li>
                        <li class="nav-item px-3">
                            <a class="nav-link text-center" href="/quote">
                                <svg class="bi" width="32" height="32" fill="currentColor">
                                    <use xlink:href="/static/bootstrap-icons.svg#cash-coin" />
                                </svg> <br /> Quote
                            </a>
                        </li>
                        <li class="nav-item px-3">
                            <a class="nav-link text-center" href="/store">
                                <svg class="bi" width="32" height="32" fill="currentColor">
                                    <use xlink:href="/static/bootstrap-icons.svg#shop" />
                                </svg> <br /> Store
                            </a>
                        </li>
                    </ul>
                    <hr width="2" size="48" class="d-none d-md-inline-block bg-light" />
                    <hr class="d-block d-md-none bg-light" style="min-height: 2px;" />
                    <ul class="navbar-nav flex-md-row list-group-horizontal-md">
                        @{
                            var result = Engine.FindView(ViewContext, "_LoginPartial", isMainPage: false);
                        }
                        @if (result.Success)
                        {
                            await Html.RenderPartialAsync("_LoginPartial");
                        }
                        else
                        {
                            throw new InvalidOperationException("The default Identity UI layout requires a partial view '_LoginPartial' " +
                                "usually located at '/Pages/_LoginPartial' or at '/Views/Shared/_LoginPartial' to work. Based on your configuration " +
                                $"we have looked at it in the following locations: {System.Environment.NewLine}{string.Join(System.Environment.NewLine, result.SearchedLocations)}.");
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="pb-3">
        <div class="container-md">@RenderBody()</div>
    </main>
    <footer class="footer border-top border-secondary text-black-50 container-md pt-3 mt-3">
        RetroGG.net &copy; 2021 Jesus Trujillo - <a class="link-dark" href="/about/privacy">Privacy</a>
    </footer>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
