@inherits LayoutComponentBase

<header>
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg mb-3">
        <NavMenu />
    </nav>
</header>


<main>
    <div class="container-md">@Body</div>
</main>
