@inherits LayoutComponentBase

<div class="navbar navbar-dark bg-primary navbar-expand-md mb-3">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>
