<div class="container-md">
    <a class="navbar-brand align-middle font-display" href="/"><img src="/static/img/logo.png" width="48" height="48" class="d-inline-block align-middle pe-1" />RetroGG.net</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-content">
        <nav class="navbar-nav navbar-nav-scroll">
            <ul class="navbar-nav flex-md-row list-group-horizontal-md">
                <li class="nav-item px-3">
                    <NavLink class="nav-link text-center" href="" Match="NavLinkMatch.All">
                        <svg class="bi" width="32" height="32" fill="currentColor">
                            <use xlink:href="/static/bootstrap-icons.svg#house" />
                        </svg> <br /> Home
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link text-center" href="counter">
                        <svg class="bi" width="32" height="32" fill="currentColor">
                            <use xlink:href="/static/bootstrap-icons.svg#plus" />
                        </svg> <br /> Counter
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link text-center" href="fetchdata">
                        <svg class="bi" width="32" height="32" fill="currentColor">
                            <use xlink:href="/static/bootstrap-icons.svg#table" />
                        </svg> <br /> Fetch data
                    </NavLink>
                </li>
            </ul>
            <hr width="2" size="48" class="d-none d-md-inline-block bg-light" />
            <hr class="d-block d-md-none bg-light" style="min-height: 2px;"/>
            <ul class="navbar-nav flex-md-row list-group-horizontal-md">
                <LoginDisplay />
            </ul>
        </nav>
    </div>
</div>
